body{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.calculator{
    background-color: rgb(238, 238, 238);
    height:70%;
    padding:15px;
    box-sizing: border-box;
}

#display{
    margin-bottom:20px;
    font-size: 30px;
    width:100%;
    height:10%;
    text-align: right;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap:10px;
    height:85%;
    width:100%;
}

button{
    font-size: 20px;
    border:none;
    border-radius: 10px;
    cursor:pointer;
    background-color: lightgray;
}

button:hover{
    background-color: rgb(219, 219, 219);
}
.number:hover{
    background-color: lightgray !important;
}

.number{
    background-color: white;
}


