body{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.calculator{
    background-color: rgb(238, 238, 238);
    height:70%;
    padding:15px;
    box-sizing: border-box;
    width: 90%;          /* takes 90% on small screens */
    max-width: 400px;    /* stops growing after 400px */
    min-width: 280px; 
}
.error {
    color: red;
}
/* #display{
    margin-bottom:20px;
    font-size: 30px;
    width:100%;
    height:15%;
    text-align:right;
    line-height: 90%;
} */
#display{
    margin-bottom:20px;
    font-size: 30px;
    width:100%;
    height:15%;
    text-align:right;
    display:flex;
    align-items:flex-end;   /* THIS moves text to bottom */
    justify-content:flex-end;

    background:white;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap:10px;
    height:80%;
    width:100%;
}

button{
    font-size: 20px;
    border:none;
    border-radius: 10px;
    cursor:pointer;
    background-color: lightgray;
}

button:hover{
    background-color: rgb(219, 219, 219);
}
.number:hover{
    background-color: lightgray !important;
}

.number{
    background-color: white;
}


